html {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    line-height: 1.3;
}

textarea,
input,
button,
select {
    outline: none;
}

input {
    line-height: normal;
}

button,
a {
    cursor: pointer;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    display: block;
}

body {
    background-color: #444;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.avatar-member:not(:first-child) {
    margin-left: -15px;
}

.avatar-member-link,
.avatar-number {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    box-shadow: 0 0 0 3px #fff;
}

.avatar-number {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eee;
    font-size: 20px;
}